# Environnement
__pycache__
.env

# User Code History
code_history

# Temp Modelfile for model
temp_modelfile

# Temp env for python code testing
py_temp_env
temp_script.py

# Temp js 
js_temp_env
temp_script.js

